<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/works.css" />
  </head>
  <body>
    <div id="header">
      <a href="/">HOME</a> | <a href="/about">ABOUT</a> |
      <a href="/works">WORK</a> |
      <a href="/photo-gallery">GALLERY</a>
    </div>
    <div id="works-section">
      <div>
        <img src="/images/works.jpg" />
      </div>
      <div class="para">
        <p>
          In 2014, Pallavi was offered the role of Malar in Alphonse Puthren's
          film Premam, for which Pallavi received an energetic opening in the
          film industry. Then she went back to her studies. In late 2015, she
          took a month's leave to act in her second movie, Kali, which was
          released in March 2016.
        </p>

        <p>
          Because of her work in the Telugu film Fidaa, she received her first
          Filmfare Award for Best Actress (Telugu). She co-starred with Fahadh
          Faasil in the 2019 movie Athiran as an autistic girl.
        </p>

        <p>
          She has appeared in numerous critically acclaimed Tamil films, such as
          Maari 2, NGK, Diya, and Vetrimaaran's Netflix anthology
          Paavakadhaigal. Notably, she costarred with Dhanush in Maari 2, and
          the song Rowdy Baby has received 1.5 billion views on YouTube, making
          it the most-viewed song overall in India.
        </p>
        <p>
          In 2021, she starred in the romantic drama Love Story directed by
          Sekhar Kammula alongside Naga Chaitanya in her second collaboration
          with Sekhar Kammula after Fidaa (2017) and Shyam Singa Roy opposite
          Nani in their second collaboration after MCA where she portrayed
          Maithreyi, a captivating devadasi in 1970s Kolkata. Her performances
          in both Love Story and Shyam Singha Roy earned her the Critics Award
          and the Best Actress award at the Filmfare Awards South.
        </p>

        <p>
          In 2022 she appeared in Telugu film Virata Parvam opposite Rana
          Daggubati. Set against the backdrop of the Naxalite movement in 1990s
          Telangana where she portrayed Vennela. Director Gautham Ramachandran
          announced his new female-oriented film, who earlier directed Richie
          (2017). Pallavi was chosen to play a lead after Jyothika denied. The
          film was announced on 9 May 2022 with the makers releasing a special
          glimpse of the film. For her Tamil film Gargi, she dubbed her own
          lines in both Telugu and Kannada.
        </p>
      </div>
    </div>
  </body>
</html>
