body {
  padding: 0;
  margin: 0;
}
#header {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

#header a {
  text-decoration: none;
  font-family: monospace;
  color: #d75b2e;
  font-weight: 700;
}

#about-section {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-family: monospace;
}

#about-section img {
  height: 600px;
  margin: 20px;
  border: 10px solid #d75b2e;
}

.para {
  padding: 0px 100px;
}
